<!DOCTYPE html>
<html>
<head>
  <title>RK Dairy Farm</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
  <link href="/assets/css/home.css" rel="stylesheet">
  <script src="libs/js/jquery.min.js"></script>
  <script src="libs/js/bootstrap.min.js"></script>
  <script src="libs/js/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script type="text/javascript" src="assets/js/validation.js"></script>
</head>

<body>
    <div class="container-fluid" style="background-color:#660000;color:#fff;">
        <div class="row">
            <div class="col-sm-1">
                <a href="/"><img src=../libs/image/logo.jpg alert="searchLogo" id="image" /></a>
            </div>
            <div class="col-sm-8">
                <h3 class="navbar-brand">R K Dairy Farm</h3>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="77" style="z-index:2;border:0px;margin:0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home"> Home</span> </a></li>
                <li><a href="/login">Quantity of Milk</a></li>
                <li><a href="/login">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register">Sign up</a></li>
                <li><a  href="/login" ><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <header>
    <div class="container">
        <div class="intro-text row">
            <div class="intro-lead-in col-sm-7">
            </div>
            <div class=" col-sm-5" >
                <p class="intro-lead-in">We are startup, family-owned farm with 25 cows.</p>
                <p class="intro-lead-in">we deliver more than 100 litres of fresh, pure milk everyday.</p>
            </div>
        </div>
    </div>
    </header>
</body>
</html>